services:
  web:
    build: .
    # ВАЖЛИВО: Використовуємо entrypoint замість command
    entrypoint: sh -c "dos2unix /app/entrypoint.sh && sh /app/entrypoint.sh"
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    env_file:
      - .env

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - web

volumes:
  static_volume:
  media_volume:
